{% extends "base.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<div class="container">
<div class="row">
    {% for item in object_list %}
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="{{ item.img.url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title" >{{item.title}}</h5>
                <h6 class="card-title">₹{{item.price}} INR</h6>
                <p class="card-text">{{item.get_category_display}} || {{item.get_label_display}}</p>
                <p class="card-text">{{item.desc}}</p>
                <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Buy now</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
    </div>
{% endblock %}